{% extends 'base.html' %}
{% load humanize %}

{% block title %}Your Cart {% endblock %}

{% block content %}
<div class="table-responsive text-nowrap my-5">
    <h2>Order Summary</h2>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
            <th scope="col">Seller (Store)</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in cart_items %}
        <tr>
            <td scope="row" class="p-3 w-25">{{ forloop.counter }}. <img class="img-fluid rounded" style="max-width: 75%;" src="{{ order_item.product.image_url }}"></td>
            <td scope="row">{{ order_item.product.product_name }}</td>
            <td scope="row">${{ order_item.product.price|intcomma }}</td>
            <td scope="row">{{ order_item.product.seller.store_name }}</td>
            <td scope="row">
                <a href="{% url 'cart:remove_one_from_cart' order_item.sku %}"><i class="fas fa-minus mr-2"></i></a>        
                {{ order_item.quantity }}
                <a href="{% url 'cart:add_to_cart' order_item.sku %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td scope="row">
                $ (Placeholder)
                <a class="remove-item float-right" id="remove_{{ order_item.sku }}" href="{% url 'cart:remove_from_cart' order_item.sku %}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" scope="row">You don't have anything in your cart!</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" scope="row"><strong>Order Total:</strong></td>
            <td scope="row"><strong>${{ total|intcomma }}</strong></td>
        </tr>
        <tr>
            <td colspan="6" scope="row">
                {% if cart_items %}
                <a href="{% url 'checkout:checkout' %}" class="btn btn-primary float-right ml-2">Checkout</a>
                {% endif %}
                <a href="{% url 'home:store' %}" class="btn btn-secondary float-right">Continue Shopping</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">

  // Disable +/- buttons outside 1-99 range
  function handleEnableDisable(sku) {
      var currentValue = parseInt($(`#id_qty_${sku}`).val());
      var minusDisabled = currentValue < 2;
      var plusDisabled = currentValue > 19;
      $(`#decrement-qty_${sku}`).prop('disabled', minusDisabled);
      $(`#increment-qty_${sku}`).prop('disabled', plusDisabled);
  }

  // Ensure proper enabling/disabling of all inputs on page load
  var allQtyInputs = $('.qty_input');
  for(var i = 0; i < allQtyInputs.length; i++){
      var sku = $(allQtyInputs[i]).data('sku');
      handleEnableDisable(sku);
  }

  // Check enable/disable every time the input is changed
  $('.qty_input').change(function() {
      var sku = $(this).data('sku');
      handleEnableDisable(sku);
  });

  // Increment quantity
  $('.increment-qty').click(function(e) {
     e.preventDefault();
     var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
     var currentValue = parseInt($(closestInput).val());
     $(closestInput).val(currentValue + 1);
     var sku = $(this).data('sku');
     handleEnableDisable(sku);
  });

  // Decrement quantity
  $('.decrement-qty').click(function(e) {
     e.preventDefault();
     var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
     var currentValue = parseInt($(closestInput).val());
     $(closestInput).val(currentValue - 1);
     var sku = $(this).data('sku');
     handleEnableDisable(sku);
  });

    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var sku = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${sku}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}
