{% extends 'base.html' %} 

{% block title %}Home {% endblock %}

{% block content %}
<section class="text-center my-4">
    <!--Grid row-->
    <div class="row wow fadeIn">
        <div class="col">
          <h2>Welcome to Liffey.ie!</h2>
          <br />
          <p>We are Europe's leading computer graphics hardware marketplace!</p>
          <br />
          <p>Buy directly from manufacturers as well as private parties, on one easy to use platform.</p>
          <br />
          <p>List and sell your hardware for a small fee on our platform!</p>
        </div>
    </div>
    <!--Grid row-->
</section>

{% endblock %}
