<div class="col">
    <div class="card">
        <div class="card-body">
            <h4>Purchase History</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Order Items</th>
                            <th scope="col">Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td><a href="{% url 'checkout:order_history' order.order_num %}">{{ order.order_num|truncatechars:9 }}</a></td>
                            <td>{{ order.order_date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td>
                                <ul class="list-unstyled">
                                {% for item in order.orderitems.all %}
                                    <li class="small">
                                        <a href="{{ item.item.get_absolute_url }}">{{ item.item.product_name }}</a> x {{ item.quantity }}
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total|intcomma }}</td>
                        </tr>
                        {% endfor %}                  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>