<div class="col">
    <div class="card">
        <div class="card-body">
            <h4>Purchase History</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th scope="col">Order Number</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Order Items</th>
                        <th scope="col">Order Total</th>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td scope="row"><a href="{% url 'checkout:order_history' order.order_num %}">{{ order.order_num|truncatechars:9 }}</a></td>
                            <td scope="row">{{ order.order_date|date:"SHORT_DATE_FORMAT" }}</td>
                            <td scope="row">
                                <ul class="list-unstyled">
                                {% for item in order.orderitems.all %}
                                    <li class="small">
                                        <a href="{{ item.item.get_absolute_url }}" alt="{{ item.item.product_name }}">{{ item.item.product_name }}</a> x {{ item.quantity }}
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td scope="row">${{ order.grand_total|intcomma }}</td>
                        </tr>
                        {% endfor %}
                        {% if is_paginated %}
                        <nav class="d-flex justify-content-center wow fadeIn">
                          <ul class="pagination pg-blue">
                            <!--Arrow left-->
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                </li>
                            {% endif %}
                            <!-- Page numbers -->
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                </li>
                            {% endif %}
                        
                            <li class="page-item active">
                              <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                                <span class="sr-only">(current)</span>
                              </a>
                            </li>
                            
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                </li>
                            {% endif %}           
                        {% endif %}                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>