{% extends 'base.html' %}
{% load cart_template_tags %}

{% block title %}Profile {% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="row wow fadeIn">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row pb-3">
                    <div class="col-9">
                        <h3 class="mt-3">
                            {{ request.user|capfirst }}'s Profile {% if verified is True %}<i class="fas fa-check-circle fa-xs text-primary"></i>{% endif %}
                        </h3>
                        {% if profile.vendor %}
                        <p class="mb-2">Store Name: {{ vendor.store_name }}</p>
                        <p class="mb-2">Store Balance (unpaid): ${{ unpaid_balance|intcomma }}</p>
                        <p class="mb-2">Paid Balance: ${{ paid_balance|intcomma }}</p>
                        <a href="{% url 'profiles:vendorprofile' store_slug=vendor.store_slug %}"class="button btn btn-primary btn-sm">View Your Store</a>
                        {% else %}
                        <p class="mb-2">Would you like to sell your own products on our platform?</p>
                        <p class="mb-2">Liffey charges a flat 5% fee to sell any graphics card onboarded on our platform.</p>
                        <a href="{% url 'profiles:vendorprofile' store_slug=vendor.store_slug %}"class="button btn btn-primary btn-sm">Become a Vendor</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h4>Default Shipping Details:</h4>
                        <table class="table">
                            <tr>
                                <td>Email Address: {{ profile.default_email }}</td>
                            </tr>
                            <tr>
                                <td>Phone Number: {{ profile.default_phone }}</td>
                            </tr>
                            <tr>
                                <td>Street Address: {{ profile.default_address1 }}</td>
                            </tr>
                            {% if profile.default_address2 %}
                            <tr>
                                <td>Street Address (cont.): {{ profile.default_address2 }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>City: {{ profile.default_city }}</td>
                            </tr>
                            <tr>
                                <td>State: {{ profile.default_state }}</td>
                            </tr>
                            <tr>
                                <td>Zipcode: {{ profile.default_zipcode }}</td>
                            </tr>
                            <tr>
                                <td>Country: {{ profile.default_country }}</td>
                            </tr>
                        </table>
                        <!--Shipping info table here -->
                        <button class="button btn btn-primary btn-sm">Edit Shipping Details</button>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row wow fadeIn" id="order-history-table-container" data-url="{% url 'profiles:orderhistory' %}">
    {% include 'order-history.html' %}
</div>
{% else %}
    <h3> TEST - NOT LOGGED IN </h3>
{% endif %}

{% endblock %}