/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

html,
body,
header {
  height: 65px;
}

/* Remove number field spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; 
}

select:invalid,
select option[value=""] {
  color:#aab7c4;
}

#add-product-form {
  padding-left: 0px!important;
  padding-right: 0px!important;
}


.similar-product-card {
  height: 100%!important;
}

.similar-product-card img {
  min-height: 245px;
}

.store-card {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 65px;
  }

  #checkout-form,
  #checkout-form fieldset {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #add-product-form {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #product-div {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #modify-product {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #product-detail-row {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #shipping-info h4 {
    font-size: 1.15rem;
    padding-left: 2px;
    padding-right: 2px;
  }

  #shipping-info h5 {
    font-size: 1rem;
    padding-left: 2px;
    padding-right: 2px;
  }

  .profile-card-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .form-group input {
    width: auto!important;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header {
    height: 65px;
  }
}

