/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }
