/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

html,
body,
header {
  height: 65px;
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; 
}

select:invalid,
select option[value=""] {
  color:#aab7c4;
}

@media (max-width: 740px) {
  html,
  body,
  header {
    height: 65px;
  }

  #checkout-form,
  #checkout-form fieldset {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #add-product-form {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #product-div {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  #modify-product {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }

  .form-group input {
    width: auto!important;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header {
    height: 65px;
  }
}

