{% extends 'base.html' %}

{% block title %}Reviewing {{ product.product_name }} {% endblock %}

{% block content %}
<div class="container dark-grey-text mt-5">
    <div class="row d-flex align-items-center">
        <div class="col">
            <h4><strong>Reviewing {{ product.brand }} {{ product.product_name }}</strong></h4>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Vendor Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-3 w-25 align-middle">
                            <a href="{{ product.get_absolute_url }}">
                                <img class="img-fluid rounded pl-2" style="max-width: 75%;" src="{{ product.image.url }}">
                            </a>
                        </td>
                        <td class="align-middle">
                            <a href="{{ product.get_absolute_url }}">
                                {{ product.product_name }}
                            </a>
                        </td>
                        <td class="align-middle">${{ product.price|intcomma }}</td>
                        <td class="align-middle">
                            <a href="{% url 'profiles:vendorprofile' store_slug=product.seller.vendorprofile.get_vendor_slug %}">
                                {{ product.seller.vendorprofile.store_name }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Grid row-->
    <div class="row wow fadeIn d-flex align-items-center justify-content-center">
      <!--Grid column-->
      <div class="col-md-8 mb-4">
            <div class="card p-3">
                <form class="card-body" method="POST" action="{% url 'product:product_review' slug=product.slug %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="rounded">
                        <legend class="fieldset-label">Leave a Review:</legend>
                        {{ form.title|as_crispy_field }}
                        {{ form.body_content|as_crispy_field }}
                        {{ form.rating|as_crispy_field }}
                    </fieldset>
                    <div class="row">
                        <button type="submit" class="button btn btn-primary">Submit Review</button>
                        <a href="{% url 'product:product_detail' slug=product.slug %}" class="button btn btn-secondary">Back to Product</a>
                    </div>
                </form>
            </div>
      </div>
    </div>
</div>
{% endblock %}